@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;800&family=PT+Sans+Narrow:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

html,
body,
p {
	margin: 0;
	padding: 0;
	color: #eee;
}

img {
	width: 100%;
	height: auto;
}

main {
	background-image: url("bg.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

.lowercase {
	font-size: 16px;
	text-transform: lowercase;
}
