@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;800&family=PT+Sans+Narrow&display=swap");

html,
body,
p {
	margin: 0;
	padding: 0;
	color: #eee;
}

img {
	width: 100%;
	height: auto;
}

main {
	background-image: url("bg.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-family: "Barlow", cursive;
	margin: 30px 20px;
	font-size: 80px;
	text-align: right;
}

.listing {
	max-width: 1240px;
	margin: 0 auto;
}

.star-systems {
	display: grid;
	column-count: 5;

	line-height: 0;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}

.star-system {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 100;
	display: flex;
	justify-content: flex-end;
	line-height: normal;
	flex-direction: column;
	min-height: 320px;
	position: relative;
	border: 1px solid black;
	opacity: 0.8;
}

.star-system p {
	font-size: 17px;
	background: #030325;
	opacity: 0.7;
	display: flex;
	text-transform: uppercase;
	justify-content: space-between;
	padding: 0px 10px;
}

.star-system-name {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
	flex-direction: column;
	color: greenyellow;
	background: black;
	opacity: 0.7;
	padding: 0 10px;
}

.star-system-name span:nth-child(2) {
	font-size: 30px;
	color: white;
	margin-top: -12px;
}

@media (max-width: 1024px) {
	.main {
		column-count: 3;
	}
}

@media (max-width: 640px) {
	.main {
		column-count: 2;
	}
}

@media (max-width: 520px) {
	.main {
		column-count: 1;
	}
}
