html,
body,
p {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

.star-systems {
	column-count: 5;
	column-gap: 0px;
	line-height: 0;
}

.star-system {
	display: flex;
	line-height: normal;
	flex-direction: column;
	width: 300px;
	min-height: 500px;
	position: relative;
	border-top: 2px solid #eee;
	border-left: 2px solid #eee;
}

.star-system p {
	/* display: block; */
}

@media (max-width: 1024px) {
	.main {
		column-count: 3;
	}
}

@media (max-width: 640px) {
	.main {
		column-count: 2;
	}
}

@media (max-width: 520px) {
	.main {
		column-count: 1;
	}
}
